# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
packages/
**/packages/*
**/packages/**/*.nupkg

# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# User-specific files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb

# Other files to ignore
*.sln.ide
*.sln.docstates

# Publish results
publish/
